/***** Blog page *****/

.pav-header a span.fa-rss {
    color: orange !important;
}
.page-pavblog-blogs, .page-pavblog-category {
    .blog-item {
        margin-bottom: 65px;
    }
    .blog-image {
        margin-bottom: 25px;
    }
    .blog-body {
        margin-bottom: 20px;
    }
    .created {
        @include size(70px, 67px);
        background: #f7f7f7;
        text-align: center;
        padding-top: 7px;
        .month {
            font-size: 12px;
        }
        .day {
            font-size: 30px;
            color: #333333;
            display: block;
            line-height: 1;
        }
    }
    .blog-profile {
        width: calc(100% - 98px);
        .blog-title {
            font-size: 24px;
            margin-top: 0px;
            line-height: 1.4;
        }
    }
    .blog-profile {
        .list-inline {
            font-size: 12px;
            line-height: 1;
            margin-bottom: 0px;
            span {
                color: $theme-color;
                text-transform: capitalize;
            }
            li {
                @include rtl-padding-right(6px);
                @include rtl-margin-right(5px);
                &:first-child {
                    @include rtl-border-right(1px solid $border-color);
                }
            }
        }
    }
}

/***** Blog detail page *****/

.page-pavblog-blog {
    .blog-image {
        margin-bottom: 25px;
    }
    .created {
        @include size(70px, 67px);
        background: #f7f7f7;
        text-align: center;
        padding-top: 7px;
        .month {
            font-size: 12px;
        }
        .day {
            font-size: 30px;
            color: #333333;
            display: block;
            line-height: 1;
        }
    }
    .blog-profile {
        width: calc(100% - 98px);
        .blog-title {
            font-size: 24px;
            margin-top: 0px;
            line-height: 1.4;
        }
        .list-inline {
            font-size: 12px;
            line-height: 1;
            margin-bottom: 0px;
            span {
                color: $theme-color;
                text-transform: capitalize;
            }
            li {
                @include rtl-padding-right(6px);
                @include rtl-margin-right(5px);
                &:first-child {
                    @include rtl-border-right(1px solid $border-color);
                }
            }
        }
    }
    .blog-content {
        margin: 40px 0px;
    }
    .blog-tags {
        font-size: 11px;
        text-transform: uppercase;
        font-family: $font-family-base;
        color: #222222;
        margin-bottom: 15px;
        a {
            color: $text-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .addthis_toolbox {
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
    }
    .same-ralated {
        padding: 15px 0px;
        .panel-title {
            font-size: 18px;
        }
        ul {
            padding: 0px;
            li {
                margin-bottom: 10px;
                position: relative;
                @include rtl-padding-left(10px);
                &:before {
                    background: $theme-color;
                    content: "";
                    height: 3px;
                    position: absolute;
                    top: 9.5px;
                    @include rtl-left(0px);
                    width: 3px;
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .pav-comment {
        border-top: 1px solid $border-color;
        .panel-title {
            font-size: 18px;
        }
    }
    .comment-item {
        margin-bottom:20px;
        margin-top: 0px;
    }
    .comment-wrap {
        overflow:hidden;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #ededed;
        position: relative;
        width: 100%;
        padding: 0px;
        .comment-meta {
            border-bottom: 1px solid #ededed;
            font-size: 12px;
            padding: 15px;
            position: relative;
            > span {
                font-weight: bold;
                span {
                    font-weight:normal;
                }
            }
        }
        .comment-description {
            padding: 15px;
        }
    }
    .blog-social {
        .social-wrap > div {
            float:left;
        }
        .social-heading{
            @include rtl-padding-right(12px);
        }
    }
    .comment-link{
        background: #F4F4F4;
        display: block;
        padding: 15px 20px;
        position: absolute;
        @include rtl-right(0px);
        top: 0;
    }
    .comment-text {
        padding: 15px;
    }
    #comment-form {
        .message{
            background:#FCF8E3;
            padding: 12px;
            color:#000;
            margin-bottom: 12px;
            line-height: 30px;
        }
        .comment-warning{
            color:#B94A48
        }
    }
}

/***** Blog category page *****/

.page-pavblog-category {
    .pav-children h3 {
        font-size: 18px;
        font-family: $font-family-base;
        line-height: 1;
    }
    .children-inner {
        h4 {
            font-weight: 400;
            font-size: 14px;
            font-family: $font-family-base;
        }
    }
}

/* Column left & Column right */

#column-right {
    // @include rtl-padding(0px, 10px, 0px, 30px);
}
.sidebar {
    .category-blog {
        ul {
            padding: 0px;
            margin: 0px;
        }
        li {
            border-bottom: 1px solid $border-color;
            position: relative;
            &:last-child {
                border-bottom: none;
            }
            span.head {
                position: absolute;
                top: 0px;
                @include rtl-right(0px);
                cursor: pointer;
                a {
                    width: 14px;
                    padding: 10px 0px;
                    display: block;
                    color: #888888;
                }
            }
            a {
                display: block;
                padding: 10px 0px;
                font-size: 16px;
            }
            ul {
                @include rtl-padding-left(25px);
                li {
                    border: none;
                    &:last-child {
                        padding-bottom: 10px;
                    }
                }
                a {
                    padding: 5px 0px;
                    color: #999999;
                    font-size: $font-size-base - 1px;
                    &:hover {
                        font-weight: 400;
                        color: $link-color;
                    }
                }
            }
        }
    }
    .latest-posts {
        margin-bottom: 60px;
        .latest-posts-img {
            margin-bottom: 15px;
            display: none;
            img {
                border-radius: 5px;
            }
        }
        .latest-posts-profile {
            width: calc(100% - 95px);
        }
        .latest-posts-title {
            font-size: 14px;
            margin-top: 0px;
            line-height: 1.4;
        }
        .pav-blog-list {
            margin-top: 20px;
        }
        .latest-posts-profile {
            .list-inline {
                font-size: 12px;
                line-height: 1;
                span {
                    color: $theme-color;
                    text-transform: capitalize;
                }
                li {
                    @include rtl-padding-right(6px);
                    @include rtl-margin-right(5px);
                    &:first-child {
                        @include rtl-border-right(1px solid $border-color);
                    }
                }
            }
        }
        .blog-item {
            margin-bottom: 0px;
        }
    }
    .pavblogs-comments {
        .pav-comment {
            margin-top: 20px;
            border: none;
        }
        a {
            @include rtl-float-left();
        }
        .comment {
            @include rtl-float-right();
            width: calc(100% - 70px);
            p {
                max-height: 43px;
                overflow: hidden;
                margin-bottom: 5px;
                margin-top: -6px;
                font-size: 14px;
            }
        }
        .comment-author {
            color: $theme-color;
            font-style: italic;
            font-size: 13px;
        }
    }
}


/*widget-blogs */
.widget-blogs {
    .panel-heading{
        &.left{
            @include rtl-text-align-left();
        }
        &.center{
            text-align: center;
        }
        &.right{
            @include rtl-text-align-right();
        }
    }
    .created {
        width: 42px;
        text-align: center;
        .day{
            display: block;
            background: #f0f0f0;
            min-height: 38px;
            line-height: 38px;
            font-size: 20px;
            color: $link-color;
            font-family: $font-family-base-bold;
        }
        .month{
            display: block;
            min-height: 25px;
            line-height: 25px;
            background: $theme-color;
            font-family:$font-family-base-medium;
            color: $white;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
    .posts-meta{
        .description{
            margin-top: 10px;
            font-size: 14px;
            line-height: 22px;
            @include rtl-padding-right(30px);
        }
    }
    .posts-meta{
        .profile {
            >a{
                display: block;
            }
            .latest-posts-title{
                color: $link-color;
                font-size: 20px;
                font-family:$font-family-base-medium;
                line-height: 24px;
                min-height: 40px;
                &:hover{
                    color: $theme-color;
                }
            }
            .readmore{
                font-size: 14px;
                color: #999;
                font-style: italic;
                &:hover{
                    color: $theme-color;
                    text-decoration: underline;
                }
            }
        }
    }
    .option1{
        .latest-posts-body{
            margin: 30px 0 80px;
            .latest-posts-image{
                >a{
                    // display: inline-block;
                }
            }
            .latest-posts-meta {
                margin-top: 25px;
                @include rtl-text-align-left();
            }
            .posts-meta{
                margin-bottom: 20px;
                .created {
                    @include rtl-float_left();
                }
                .profile{
                    overflow: hidden;
                    @include rtl-padding-left(15px);
                }
            }
            .description{
                @include rtl-padding-right(30px);
            }
        }
    }
    .option2{
        .latest-posts-body{
            margin-top: 40px;
            .latest-posts-meta {
                width: calc(50% - 10px);
                margin-top: 5px;
            }

            .latest-posts-image{
                width: calc(50% - 10px);
                position: relative;
                >a{
                    // display: inline-block;
                }
                .created {
                    position: absolute;
                    top: 10px;
                    @include rtl-left(10px);
                }
            }
            
        }
        &:first-child{
            margin-top: 10px;
        }
        &:nth-child(1),&:nth-child(3),&:nth-child(5),&:nth-child(7),&:nth-child(9){
            .latest-posts-meta {
                @include rtl-float-right();
                @include rtl-text-align-left();
            }

            .latest-posts-image{
                @include rtl-float-left();
            }
        }
        &:nth-child(2),&:nth-child(4),&:nth-child(6),&:nth-child(8){
            .latest-posts-meta {
                @include rtl-float-left();
                @include rtl-text-align-right();
            }

            .latest-posts-image{
                @include rtl-float-right();
            }
        }
    }
}