.tp-leftarrow.default:hover {
	box-shadow: 0 0 0 25px #df5c6a inset !important;
}
.tp-rightarrow.default:hover {
	box-shadow: 0 0 0 25px #df5c6a inset !important;
}
#cart-top .dropdown-toggle {
	color: #f5ced3;
}