// START BUTTONS
.pa-transition{
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.pa-button{
	@extend .pa-transition;
	background-color: #7bcd2d;
	color: $pv_main_color;
	font-size: $pv_main_fontsize;

	border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 3px;

    i{
    	padding: 0 10px 0 0;
    }
}

.pa-button-info{
	@extend .pa-button;
	background-color: $pv_info_bg;

	&:hover{
		background-color: $pv_info_bg_hover;
	}
}

.pa-button-success{
	@extend .pa-button;
	background-color: $pv_success_bg;

	&:hover{
		background-color: $pv_success_bg_hover;
	}
}

.pa-button-warning{
	@extend .pa-button;
	background-color: $pv_warning_bg;

	&:hover{
		background-color: $pv_warning_bg_hover;
	}
}
// END BUTTONS

// ROWS && COLUMNS
.pa-sortable-placeholder{
	color: white;
	visibility: visible !important;
	height: auto;
	max-height: 150px;
	min-height: 100px;
  	background: repeating-linear-gradient(
	    135deg,
	    #d4d4d4,
	    #d4d4d4 5px,
	    #fff 5px,
	    #fff 10px
  	);
}

.pa-row-container{
	&.row-fade-in{
		-webkit-animation-duration: 0.75s;
	    animation-duration: 0.75s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-name: rowFadeIn;
	    animation-name: rowFadeIn;
	}

	> .pa-element-wrapper{
		background-color: $pv_row_background;
		border: $pv_column_border;
	    padding: 20px 15px;
	    margin-bottom: 20px;
	}

	.pa-row-column-control{
		position: relative;
		list-style: none;
		margin: 0;
	    display: inline-block;
	    float: left;
	    width: 100%;
	    text-align: center;
	    padding: 10px 0 10px 0;

	    .pa-actions-hidden{
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    left: 50%;
		    z-index: 11;
		    left: 50%;
		    top: -15px;
		    transform: translateX(-50%);
			li {
				display: inline-block;
				float: left;
			}
			a {
				display: block;
				width: 20px;
			}
	    }
	}

	.pa-column-container{
		padding: 10px 5px 10px;
		background-color: $pv_colum_empty_background;
		border: $pv_column_border;
		height: auto;
		padding: 30px 10px 20px 10px;
		&.empty-element{
			min-height: 25px;
			padding: 30px 0;
		}

		.pa-element-content{
			box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
			text-align: left;
			background-color: #fff;
			margin-bottom: 10px;

		    &.pa-ui-placeholder{
		    	:after{
		    		height: calc(100% - 2px);
				    width: calc(100% - 2px);
				    position: absolute;
				    content: 'Pavo Builder';
				    top: 0px;
				    left: 0px;
				    background: rgba(255,255,255,0.25);
				    border-radius: 2px;
				    border: 1px dashed #42BCE2 !important;
				    color: rgba(0,0,0,0.05);
				    font-weight: bold;
				    font-size: 1.2em;
				    display: flex !important;
				    align-items: center !important;
				    justify-content: center !important;
				    line-height: inherit;
				    overflow: hidden;
		    	}
		    }
			.element-item{
				margin: 0 10px 0 10px;
			}
		}
		.pa-element-wrapper{
			padding: 10px 0px;
			background-color: $pv_ele_background;
			p{
				font-size: 10px;
			}
		}
	}

	.pa-controls{
		overflow: hidden;

		a{
		    padding: 8px;
		    font-size: 14px;
		    display: inline-block;
		    line-height: 1;
		    color: hsla(0, 7%, 24%, 0.84);
		    background-color: $icon_background;
		    border: $pv_column_border;
		    border-bottom: none;
		    transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    &:hover{
		    	background-color: $icon_background_hover;
		    	color: $pv_white_color;
		    	cursor: pointer;
		    }

		    &.pa-reorder{
		    	&:hover{
		    		cursor: move;
		    	}
		    }

		    &.pa-clone,
		    &.pa-add{
		    	&:hover{
		    		cursor: copy;
		    	}
		    }

		    &.pa-delete{
		    	&:hover{
		    		cursor: unset;
		    	}
		    }
		}
	}

	.pa-column{
		margin: 10px 0;
		>.pa-controls{
		    position: absolute;
		    top: -15px;
		    background-color: transparent;
		    right: 0;
		    left: 0;
		    text-align: center;

		    &.bottom{
		    	top: auto;
		    	bottom: -15px;
		    }
		    a{
		    	background-color: $pv_info_bg;
		    	color: $pv_white_color;
		    	border-radius: 50%;
		    	font-size: 10px;
		    	&:hover{
		    		background-color: $pv_info_bg_hover;
		    	}
		    }
		}

		&[data-editabled="true"]{
			&:before{
			    height: 100%;
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    width: 1px;
			    background: #e5e5e5;
			    cursor: col-resize;
			    content: "";
			}
		}
		.pa-column-resize{
		    position: absolute;
		    height: 100%;
		    top: 0px;
		    left: -5px;
		    width: 10px;
		    cursor: col-resize;
		}
	}

	.pa-element-content{
		position: relative;
		> .pa-controls{
			position: absolute;
			opacity: 0;
		    z-index: 1004;
		    top: 50%;
		    left: 50%;
		    background-color: $pv_info_bg;
		    border: 0px solid transparent;
		    -webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    -o-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    border-top-right-radius: 3px;
		    border-top-left-radius: 3px;
		    border-bottom-right-radius: 3px;
		    border-bottom-left-radius: 3px;

		    a{
		    	color: $pv_white_color;
		    	background-color: $pv_info_bg;
		    	border: none;
		    	margin: 0;

			    &:hover{
			    	background-color: $pv_info_bg_hover;
			    }

			    &.pa-delete{
			    	background-color: $pv_warning_bg;
			    	&:hover{
			    		background-color: $pv_warning_bg_hover;
			    	}
			    }
		    }
		}

		&:hover{
			.pa-controls{
				opacity: 1;
			}
		}

		&:hover{
			&:before{
			    content: '';
			    position: absolute;
			    right: 0;
			    left: 0;
			    bottom: 0;
			    top: 0;
			    background-color: rgba(171, 214, 224, 0.56);
			    opacity: 0.8;
			}
		}
	}
}
#pa-elements-list{
	.tab-content{
		overflow: hidden;
	}
}
#pa-elements-list,
.pa-element-content{
	.element-item{
		color: #666;
		display: block;
		padding: 8px 10px;
	    background-color: hsla(0,0%,62%,.12);
	    overflow: hidden;
	    margin: 0px -10px 10px -8px;
		i{
			font-size: 30px;
			color: #06b7f0;
		    display: block;
			float: left;
			margin-right: 8px;
		}
		span{
			vertical-align: top;
			font-size: 13px;
			font-weight: 600;
			display: block;
		}
		code{
		    display: block;
		    float: left;
		    padding: 3px 0;
		    font-size: 11px;
		}
	}
}
// Footer
#pa-footer{
	.pa-buttons{
		padding: 30px 20px;
		font-size: $pv_lg_fontsize;
		text-align: center;
		border: $pv_dashed_border;

		&:hover,
		&.drag-over{
			border: $pv_dashed_border_hover;
		}

		.pa-button{
			padding: 10px 20px;
			color: $pv_white_color;
		}
	}
}