html > body{
	overflow: hidden;
}
#pavotheme-customize-wrapper {
    margin-left: 300px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#header{
	display: none;
}
#main-control{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18%;
    min-width: 300px;
    max-width: 600px;
}
#main-preview{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#pavo-iframe{
    width: 100%;
    margin: 0;
    border: 0;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}