{{ header }}
<div id="pavotheme-customize-wrapper">

	<div class="col-xs-6 col-sm-2" role="navigation" id="main-control">
		<div id="control-panel">
			<div class="panel-heading">
				<a href="" class="btn">Back</a>
				<h4>Theme Name</h4>
				<a href="" class="btn btn-primary">Save</a>
			</div>

			<div class="panel panel-body">
				
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12" id="main-preview">
		<div id="top-panel">
			<a href="#" class="btn btn-primary btn-xs pull-left">
				<i class="fa fa-list"></i>
				Toggle Panel
			</a>
		</div>
		<iframe id="pavo-iframe" src="{{ iframeURI }}"></iframe>
	</div>

</div>
{# {{ footer }} #}