{{ header }}
<div id="pavotheme-customize-wrapper">

	<div role="navigation" id="main-control">
		<header>
			<a href="#" class="btn">Back</a>
			<h4>Theme Name</h4>
			<a href="#" class="btn btn-primary">Save</a>
		</header>

		<div class="panel-control">
			
		</div>
	</div>
	<iframe id="pavo-iframe" src="{{ iframeURI }}"></iframe>

</div>
{# {{ footer }} #}