{{ header }}
<div id="lexus-customize-wrapper">

	<div class="col-xs-6 col-sm-3" role="navigation"></div>
	<div class="col-xs-12 col-sm-12" id="main-preview">
		<div id="top-panel">
			<a href="#" class="btn btn-primary btn-xs pull-left">
				<i class="fa fa-list"></i>
				Toggle Panel
			</a>
		</div>
		<iframe id="lexus-iframe" src="{{ iframeURI }}"></iframe>
	</div>

</div>
{# {{ footer }} #}