.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
}

/*-----------------widget-show-categories-----------------*/

.widget-show-categories {
    .categories-block {
        background: #FFD61A;
        padding-bottom: 72px;
    }
    .children-categories {
        margin-top: 40px;
    }
    h5 {
        font-size: 25px;
        font-weight: 500;
        font-family: $font-family-base-medium;
        a:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
    .body {
        margin-top: 35px;
    }
    li {
        margin-top: 15px;
        a:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
    .btn-v1 {
        border: 1px solid $link-color;
        margin-top: 30px;
    }
}

/*END*/


/*----------------widget-product-tabs----------------*/

.widget-product-tabs {
    padding-top: 20px;
    .tab-top{
        border-bottom: 1px solid $border-color;
    }
    .nav-tabs {
        a {
            font-size: 24px;
            padding: 0px;
            padding-bottom: 13px;
            display: inline-block;
            margin-bottom: -1px;
            line-height: 1;
            border-bottom: 3px solid transparent;
            i {
                display: none;
            }
        }
        >li{
            float: none;
            display: inline-block;
        }
        li {
            @include rtl-margin-right(30px);
            &.active {
                a {
                    font-family: $font-family-base-extrabold;
                    border-color: $theme-color;
                }
            }
        }
    }
    .tabs-v2{
        text-align: center;
        .nav-tabs {
            display: inline-block;
        }
    }
}

/**END*/




/*----------------widget interactive-banner----------------*/

.interactive-banner{
    .panel-heading{
        margin-bottom: 30px;
        display: none;
    }
    .image {
        position: relative;
    }
    .content {
        position: absolute;
        text-align: center;
    }
    &.style1{
        .interactive-profile{
            h3{
                margin-top: 0;
                margin-bottom: 7px;
                font-size: 68px;
                font-family: $font-family-base-thin;
                color: $theme-color;
                font-weight: normal;
                letter-spacing: -2px;
                span{
                    font-family: $font-family-base-black;
                    color: $white;
                }
            }
            p{
                font-family: $font-family-base-light;
                font-size: 20px;
                color: $white;
            }
            .action-button{
                margin-top: 25px;
                .btn{
                    @extend .btn-v1;
                    padding: 15px 45px;
                    line-height: normal;
                    height: auto;
                    font-size: 14px;
                }
            }
        }
        .content {
            left: 50%;
            top: 50%;
            @include transform(translateX(-50%) translateY(-50%));
        }
    }
    &.style2{
        .interactive-profile{
            h3{
                margin-top: 0;
                margin-bottom: 7px;
                font-size: 68px;
                font-family: $font-family-base-thin;
                color: $theme-color;
                font-weight: normal;
                letter-spacing: -2px;
                span{
                    font-family: $font-family-base-black;
                    color: $white;
                }
            }
            p{
                font-family: $font-family-base-light;
                font-size: 20px;
                color: $white;
            }
            .action-button{
                margin-top: 25px;
                .btn{
                    @extend .btn-v1;
                    padding: 15px 45px;
                    line-height: normal;
                    height: auto;
                    font-size: 14px;
                }
            }
        }
        .content {
            @include rtl-left(0);
            top: 50%;
            @include transform(translateX(0) translateY(-50%));
            @include rtl-margin-left(7%);
        }
    }
    &.style3{
        .interactive-profile{
            background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
            padding: 60px 45px;
            h3{
                color: $link-color;
                font-size: 18px;
                font-family: $font-family-base-bold;
                font-weight: normal;
                text-transform: uppercase;
                margin: 0;
            }
            h1{
                font-weight: normal;
                font-size: 60px;
                text-transform: uppercase;
                color: $theme-color;
                font-family: $font-family-base-bold;
                letter-spacing: -3px;
                margin: 12px 0 20px;
            }
            .action-button{
                .btn{
                    line-height: 30px;
                    @include border-radius(30px);
                    border: 1px solid #363636;
                    height: 30px;
                    padding: 0 25px;
                    font-family: $font-family-base;
                    font-size: 16px;
                    @include transition(all 0.3s ease);
                    &:hover{
                        background: $theme-color;
                        color: $white;
                        border-color: $theme-color;
                    }
                }
            }
        }
        .content {
            @include rtl-left(0);
            top: 50%;
            @include transform(translateX(0) translateY(-50%));
            @include rtl-margin-left(7%);
        }
    }
}

/**END*/


/*----------------widget product list----------------*/
.widget-product-list{
    .panel-heading{
        &.left{
            @include rtl-text-align-left();
        }
        &.center{
            text-align: center;
        }
        &.right{
            @include rtl-text-align-right();
        }
    }
    .products-block {
        .products-row {
            position: relative;
            overflow: hidden;
        }
    }
}


/*END*/


/*----------------widget-images----------------*/
.widget-images {
    position: relative;
    z-index: 24;
}

/*END*/

  
/*----------------widget Icon-box----------------*/
.feature-box {
    .fbox-icon{
        color: #333333;
        font-size: 48px;
        line-height: 1;
        margin-bottom: 15px;
        i{
            @include transition(all 0.3s ease);
        }
    }
    .fbox-body{
        .htmlcontent{
            h4{
                color: #333333;
                font-family: $font-family-base-medium;
                font-size: 20px;
                line-height: 24px;
                font-weight: normal;
                margin: 0;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
    &:hover{
        // .fbox-icon{
        //     i{
        //         @include transform(rotateZ(360deg));
        //     }
        // }
    }
    &.style1{
        padding: 0 30px;
        .fbox-icon{
            @include rtl-text-align-left();
        }
        .fbox-body{
            position: relative;
            &:before{
                background: $theme-color;
                content: "";
                height: 50px;
                @include rtl-left(-30px);
                position: absolute;
                top: -3px;
                width: 2px; 
            }
            .htmlcontent{
                h4{
                    min-height: 60px;
                }
                p{
                    min-height: 110px;
                }
            }
        }
    }
    &.style2{
        padding: 0 45px;
        margin: 7% 0;
        .fbox-icon{
            @include rtl-text-align-center();
            width: 100px;
            @include rtl-float-left();
        }
        .fbox-body{
            margin-top: 5px;
            width: calc(100% - 100px);
            @include rtl-float-left();

            // @include rtl-padding-right(100px);
            .htmlcontent{
                p{
                    margin-top: 18px;
                }
            }
        }
    }
    &.style3{
        position: relative;
        padding: 30px 0;
        &:before{
            background: $theme-color;
            content: "";
            height: 90px;
            @include rtl-left(0);
            position: absolute;
            top: 40px;
            width: 2px; 
        }
        .fbox-icon{
            @include rtl-float-left();
            padding: 0 25px;
        }
        .fbox-body{
            overflow: hidden;
            @include rtl-padding-right(30px);
            h4{
                min-height: 45px;
            }
            p{
                min-height: 90px;
            }
        }
    }
}
.row-inner{
    .col-xs-12{
        &:first-child{
            .feature-box{
                &:before{
                    content: none;
                }
            }
            .fbox-body{
                &:before{
                    content: none;
                }
            }
        }
    }
}
.box-speacial {
    .row{
        margin: 0;
    }
    [class^="col-"],
    [class*="col-"] {
        padding: 0;
    }
    .feature-box.style3{
        background: $white;
        margin-top: -225px;
        z-index: 23;
        border-bottom: 1px solid $border-color;
    }
}

/*END*/